<div id="menu-wrapper" class="group/menu m-4 p-4 border-accent transition-colors duration-200">
  <div class="flex flex-col items-center gap-2">
  <div>
    <ul class="menu relative flex flex-col justify-center items-center gap-2 h-full
    bg-base backdrop-blur-md
    overflow-hidden transition-colors duration-200 md:flex-row">  
    
    
    {{ range .Site.Menus.main }}
    {{ $showItem := true }}
    
    {{ if .Params.requiresFeature }}
    {{ if eq .Params.requiresFeature "enableWorkSection" }}
    {{ $showItem = $.Site.Params.features.enableWorkSection }}
    {{ end }}
    {{ end }}
    
    {{ if $showItem }}
    <li>
      {{ partial "menu-item.html" (dict 
      "URL" .URL 
      "Name" .Name 
      "Color" .Params.color 
      "Icon" .Params.icon 
      "Class" "menu-item") }}
      {{ if .HasChildren }}
      <ul class="space-y-2">
        {{ range .Children }}
        <li>
          {{ partial "menu-item.html" (dict 
          "URL" .URL 
          "Name" .Name 
          "Color" .Params.color 
          "Icon" .Params.icon 
          "Class" "menu-item") }}
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
    {{ end }}
    <div class=" hidden ">
      <button class="menu-toggle relative group transition-transform duration-200 items-center justify-center w-12 h-12">
        
        <!-- Left border animates from top to bottom -->
        <span class="absolute left-0 top-0 h-0 w-1 border-l border-secondary transition-all duration-500 group-hover:h-full"></span>
        
        <!-- Right border animates from bottom to top -->
        <span class="absolute right-0 bottom-0 h-0 w-1 border-r border-secondary transition-all duration-500 group-hover:h-full"></span>
        
        <!-- Icon spins on hover -->
        <span class="material-icons relative z-10 transition-transform duration-500 ease-out group-hover:rotate-360 hover:scale-130">
          close
        </span>
      </button>
    </div>
    </ul>
  </div>
  <div>
    {{ partial "theme-toggle.html" . }}
    {{ partial "crt-toggle.html" . }}
  </div>
</div>
</div>