/* assets/css/effects.css */

/* =========================================================================
   GLITCH EFFECTS
   ========================================================================= */
  
  .glitch {
    position: relative;
    display: inline-block;
  }
  
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 #ff00de;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim 3s infinite linear alternate-reverse;
  }
  
  .glitch::after {
    opacity: 0.3;
    left: -2px;
    text-shadow: -2px 0 #00fff9;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2s infinite linear alternate-reverse;
  }
  
  .glitch_error {
    position: relative;
    display: inline-block;
    color: var(--glitch-error-color-text);
    font-weight: bold;
    text-transform: uppercase;
    animation: glitch-flicker 2s infinite linear;
  }
  
  .glitch_error::before,
  .glitch_error::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .glitch_error::before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip-path: inset(0 0 0 0);
    animation: glitch-rgb-1 0.25s infinite linear alternate-reverse;
  }
  
  .glitch_error::after {
    left: -2px;
    text-shadow: 2px 0 #00f;
    clip-path: inset(0 0 0 0);
    animation: glitch-rgb-2 0.25s infinite linear alternate-reverse;
  }


