{{ define "main" }}
<div class="flex flex-col w-full sm:px-6 lg:px-8 mx-auto">

  <!-- Opening paragraph + Mission -->
  <div class="w-full">
    {{ partial "home/home_mission.html" . }}
  </div>
  {{/* Divider */}}
  {{ partial "divider.html" (dict "style" "icon") }}
  <!-- Our Mission section -->
  <div class="w-full">
    {{ partial "home/home_work_tv.html" . }}
  </div>
  {{/* Divider */}}
  {{ partial "divider.html" (dict "width" "sm" ) }}
  <div class="w-full">
    {{ partial "home/home_work_brand.html" . }}
  </div>
  {{/* Icon with lines */}}
  {{ partial "divider.html" (dict "style" "icon") }}
  <!-- Meat the team section -->
  <div class="flex-none max-w-3xl mx-auto">
    {{ partial "home/home_team.html" . }}
  </div>
  <!-- Contact section -->
  <div class="flex-none w-full max-w-3xl mx-auto px-4 sm:px-0">
    {{ partial "home/home_contact.html" . }}
  </div>
  {{/* Divider */}}
  {{ partial "divider.html" . }}
  {{ partialCached "disclaimer.html" . }}

</div>
{{ end }}
